src/*.exe
src/Domotics
src/Domoticsd
src/test_Domotics
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Domotics

# Compilation and Qt preprocessor part
*.qm
Makefile
Domotics-qt
Domotics-Qt.app

# Unit-tests
Makefile.test
Domotics-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
